@import "tailwindcss";

:root {
  --green-100: #f1f2ed;
  --green-900: #213d34;
  --lime-400: #d9ef78;
  --neutral-0: #ffffff;
  --neutral-1000: #000000;
}

@theme inline {
  --font-sans: var(--font-work-sans);
  --font-mono: var(--font-syne);
}

body {
  background: var(--neutral-0);
  color: var(--neutral-1000);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
